.articlePerfil{
    width: 100%;
    height: 850px;
    overflow-y: scroll;
    float: left;
}
.divTituloPerfil{
    width: 100%;
    height: 80px;
    background: white;
    border-bottom: 1px solid grey;
    box-shadow: 3px 0px 3px grey;
    float: left;
}
.divTituloPerfil h2{
    margin-left: 40%;
    margin-top: 0.5em;
    font-size: 30px;
    float: left;
}
.contenedorPerfil{
    width: 100%;
    height: 590px;
    float: left;
}
.botonSubir{
    width: 10%;
    height: 30px;
    margin-top: 1.5em;
    margin-left: 2%;
    background: #21BDD0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* transition: all 300ms; */
    float: left;
}
.botonSubir:hover{
    background: #ACE3FC;
}